body{
    margin: 0 auto;
    font-family: sans-serif;
}    

header{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

header nav a{
    text-decoration: none;
    color: white;
}

.container{
    margin: 0 auto;
    width: 80vw;
    background-color: white;
}

.perfil{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: lightcyan;
    height: 300px;
}

.textinho{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img{
    border: 3px solid black;
    border-radius: 100%;
    width: 250px;
    height: 250px;
}

footer{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

#seguidor{
    position: fixed;
    height: 40px;
    width: 40px;
    border: 5px solid red;
    border-top: 5px solid green;
    border-bottom: 5px solid yellow;
    border-left: 5px solid blue;
    border-radius: 100%;
    animation: rodar 000000000.1s linear infinite;
    z-index: 1;
  }

  @keyframes rodar{
    0%{
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }